tasks/data
find_existing_solutions/system_analysis/code_function_names.txt
find_existing_solutions/test/
docs/archive_notes/
find_existing_solutions/article.svg
find_existing_solutions/code_function_names.txt
find_existing_solutions/__pycache__/
find_existing_solutions/data/
find_existing_solutions/get_synonyms.py
find_existing_solutions/maps/
find_existing_solutions/test.py
build_new_solutions/indigo/
build_new_solutions/indigo_function_list.py
build_new_solutions/temp-plot.html
build_new_solutions/data/
build_new_solutions/datasets/
build_new_solutions/graphs/
build_new_solutions/__pycache__/
build_new_solutions/graphs/*.png
build_new_solutions/*.html
*.dylib
*.sqlite
venv/
.DS_Store
